/* Global Styles */
body {
	background-image: url('steptodown_com949354.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: bold;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

nav {
	margin-top: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav li {
	margin: 0 10px;
}

nav a {
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

nav a:hover {
	background-color: #555;
}

main {
	margin-top: 100px;
	padding: 20px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

strong {
	font-weight: bold;
}

form label {
	display: block;
	margin-bottom: 5px;
}

form input, form select, form textarea {
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
	background-color: #3E8E41;
}

/* Login Box */
.login-box {
	margin: auto;
	margin-top: 100px;
	width: 400px;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-box h1 {
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
}

form label {
	display: block;
	margin-bottom: 5px;
}

form input {
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s ease
}

form input[type="submit"]:hover {
	background-color: #3E8E41;
}

/* Profile Form */
form h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 20px;
}

form textarea {
	height: 100px;
}

form select {
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5
